@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

/* Делал на 1920:1020 */

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-color: #FBE4FF;;
}

header {
    top: 0;
    position: sticky;
    z-index: 2;
}
header>div{
    padding: 0.5rem 15%;
    background-color:#243B93;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}
nav {
    width: 65%;
    margin: 0;
    padding: 0;
    border: 0;
}
nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    vertical-align: middle;
}
nav>ul>li {
    display: flex;
    align-items: center;
    text-align: center;
}
header>div>a>div {
    background-image: url('../img/img\ лого.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.5rem;
    padding-right: 18rem;
}
header>div>div:last-child {
    font-size: 1.75rem;
}
.planet_img {
    display: flex;

}
.planet_img > div{
    background-image: url('../img/img\ глобус.png');
    width: 3rem;
    height: 3rem;
    background-position: ;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 2rem;
}
.top_nav {
    padding: 0 4rem;
}
.top_title {
    width: 100%;
    padding: 0 15%;
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: italic;
    font-size: 2.75rem;
    background-color:#BFF0FF ;
    height:5.25rem;
    box-sizing:border-box;
}
.top_title p{
    padding-top: 1rem;
}

.drop_window {
    margin: 1.875rem auto;
    width: 70%;
    text-align: center;
    box-sizing:border-box;
    background-color: white;
    height:3.625rem;
}
.drop_window>div:nth-child(1){
    padding: 0.625rem;
    font-family: 'PT Sans';
    font-size: 1.75rem;
    font-weight: 400;
    width: 30rem;
    margin: 0 auto;
}
.drop_window>div:nth-child(2){
    position:relative;
    background-image: url("../img/стрілка.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    height: 2rem;
    width: 2.2rem;
    left: 96%;
    bottom: 55%;
}

.main_cards {
    margin: 1.875rem auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
}
.main_card {
    height: 20rem;
}
.main_card>div:nth-child(1){
    height: 10rem;
}
.main_cards > div {
    box-sizing:border-box;
    margin: 1.5rem auto;
    background: linear-gradient(to right,#A9CBD6,#01AFE6);
    padding: 0.375rem 0rem 0rem 0rem ;
    height: 20rem;
}
.main_cards>div>div:nth-child(1) svg{
    display: block;
    position: relative;
    left: 96%;
}
.main_cards>div:hover{
    cursor: pointer;
}
.main_cards>div:hover>div:nth-child(1) path{
    fill: #FFF500;
}
.main_cards>div:hover>div:nth-child(3){
    background-color:#EF075B ;
}
.main_cards>div>div:nth-child(1) {
    height: 0;
}
.main_card>div:nth-child(1) img{
    background-size: cover;
    width: 34%;
    margin-right: 2rem;
    display: block;
    position: relative;
    left: 4%;
    top: 21%;
}
.main_card>div:nth-child(2) {
    width: 56%;
    display: block;
    position: relative;
    left: 40%;
    bottom: 45%;
}
.main_card>div:nth-child(2)>div:nth-child(1) {
    font-family: 'PT Sans';
    font-weight: 700;
    color: #353C57;
    font-style: italic;
    font-size: 2.25rem;
    border-bottom: 3px solid white;
    margin-bottom: 1rem;
}
.main_card>div:nth-child(2)>div:nth-child(2) {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.325rem;
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 10rem;
    background-color: white;
    height: 13rem;
}
.main_cards>div>div:nth-child(3) {
    display: block;
    position: relative;
    left:87%;
    bottom:22%;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;
    padding-top: 0.25rem;
    padding-bottom: 0.625rem;
    background-color:#243B93 ;
    width:13.125rem ;
    color:white;
}
.to_start {
    display: block;
    position: fixed;
    width: 6.3rem;
    height: 6.3rem;
    background: rgba(48, 12, 106, 0.3);
    border-radius: 100%;
    top:90%;
    left: 83%;
    background-image: url('../img/стрілка\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
   /* transition: 2s; не понял как применить к медленному возвращению =( */
}

.personal_office_title {
    padding: 1rem 0 0.75rem 15%;
    color:#243B93;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: italic;
    font-size: 3.75rem;
    margin-bottom: 2.125rem;
}
.personal_office {
    margin: 0 auto 1.25rem;
    width: 70%;
    height: 31.25rem;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing:border-box;
    padding: 2.4% 4.2% 2.3% 8.7%;
}
.personal_office_left{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing:border-box;
}
.personal_office_left>div:nth-child(1) {
    background-image: url('../img/іконка.png');
    width: 60%;
    height: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}
.personal_office_left>div:nth-child(2) , .personal_office_left>div:nth-child(3) {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    padding: 0.625rem 2.375rem ;
    background-color:#243B93 ;
    border-radius: 30px;
    cursor: pointer;
}
.personal_office_left>div:nth-child(2):hover,.personal_office_left>div:nth-child(3):hover {
    background-color:#EF075B ;
}
.personal_office_right{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing:border-box;
    width: 75%;
    padding-left: 10%;
}
.personal_office_right>div:nth-child(2),.personal_office_right>div:nth-child(4) {
    border-bottom: white 3px solid;
    border-top:  white 3px solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.personal_office_right span {
    text-align: left;
}
.personal_office_right>div>span:nth-child(1) {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: italic;
    font-size:2.25rem;
}
.personal_office_right>div>span:nth-child(2){
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: italic;
    font-size:2.25rem;
}
.personal_office_exit_button {
    margin: 0 auto;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    width: 11rem;
    padding: 0.625rem 0;
    text-align: center;
    background-color:#243B93 ;
    border-radius: 30px;
}
.personal_office_exit_button:hover {
    background-color:#EF075B ;   
}

.Contacts_title {
    margin: 3.5rem 0 1.5rem;
    padding: 1rem 0 0.75rem 15%;
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: italic;
    font-size:2.75rem;
    color: #243B93;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}
.Contacts_field {
    margin: 0 auto 2rem;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Contacts_field p:nth-child(1){
    font-family: 'PT Sans';
    font-weight: 400;
    font-size:2rem;
    border-bottom: #202846 3px solid;
}
.Contacts_field p:nth-child(2){
    font-family: 'PT Sans';
    font-weight: 400;
    font-size:1.875rem;
}
.Contacts_field p:nth-child(2) a{
    text-decoration: none;
    color: black;
}
.tel {
    width: 65%;
}
.addres {
    width: 103%;
}
.email {
    width: 113%;
}
.Contacts_field>div:nth-child(3){
    border: 3px solid #243B93;
    border-radius: 40px;
}
.Contacts_field iframe{
    border-radius: 40px;
}
.bottom_end{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size:1rem;
    color: white;
    padding: 1.5rem 0 1.5rem 15%;
    background: #243B93;
    letter-spacing:0.15rem;
}
.main_cards > div:hover {
    background:#2CBDEB ;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}